.footer {
    background-color: #006ce7; /* Bright blue footer */
    color: white;
    text-align: center;
    padding: 20px 20px;
    position: bottom;
  }
  
  .footer p {
    margin: 0;
    font-size: 0.9rem;
  }